tr{

    background-color: rgba(204, 204, 204, 0.315);
    border-bottom: 50px;
    border-top: 50px;
}

.contenedor {
    display: flex;           
    justify-content: space-between; 
    width: 100%;             
  }
  .izquierda, .derecha {
    width: 48%;              
    padding: 20px;
  }